body {
    background-color: #ffffff;
}

header {
    position: fixed;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #424242;
    z-index:99; 
  }

@media (min-width: 991.98px) {
    main {
        padding-left: 265px;
    }

    .navbar-toggler {
        display: block !important;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0; /* Height of navbar */
    margin: 40px 0 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 250px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.list-group.custom-margin {
    margin: 0;
}

.custom-button-container {
    position: relative; /* Asegura que el z-index funcione */
  }
  
  .custom-button {
    position: absolute;
    top: -55px;
    right: 90px;
    margin: 0;
    padding: 0;
    z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
  }
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.navbar-toggler {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 100;
}

.navbar-brand {
    margin-left: 50px; /* Ajusta el margen izquierdo según tus necesidades */
}

#collapseExample1 a,
#collapseExample2 a,
#collapseExample3 a {
    text-decoration: none;
}

#collapseMatlab a,
#collapsePython a {
    text-decoration: none;
    border: none;
    border-width: 0px;
}

p {
    text-align: justify;
}

main #content img {
    width: 100%;
    height: auto;
}

#collapseExample1 li,
#collapseExample2 li,
#collapseExample3 li  {
    color: #444444; /* Puedes cambiar "red" por el color deseado */
}

#collapseMatlab li,
#collapsePython li{
    color: #444444; /* Puedes cambiar "red" por el color deseado */
    border: none;
    border-width: 0px;
}

/* Estilos para el visor de PDF */
#pdfViewerContainer {
    text-align: center;
    margin-top: 20px;
}
  
/* Estilos para el contenido Markdown */
#content {
    display: block;
}

.pdf-viewer canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#pdfControls {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#pdfControls button,
#pdfControls a {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #424242;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#pdfControls button:hover,
#pdfControls a:hover {
    background-color: #424242;
}